.khan__buy-link {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    color: #2f80ed;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    text-decoration: none;
}

.khan__buy-link:hover {
    opacity: 0.4;
}